{% extends "base.html" %}

{% block title %}Book Detail{% endblock %}

{% block content %}
    {% if msg %}
        {% if "Book is already reserved" in msg %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif "Reservation successful" in msg %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif "Reservation date must be at least 3 weeks from now" in msg %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
   {% endif %}



<div class='card'>
  <div class='card-header' style='font-size: 32px;'>
      Book Detail:
  </div>

  <div class="table-responsive">
      <div class='card-body'>
        <div class='row'>
            {% for book in books %}
                <div class='col-md-8'>
                <div class='row'>
                  <div class='col-md-2' style='font-size: 24px;'>ISBN:</div>
                  <div class='col-md-2' style='font-size: 24px;'>{{book.0}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-2' style='font-size: 24px;'>Title:</div>
                  <div class='col-md-2' style='font-size: 24px;'>{{book.1}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-2' style='font-size: 24px;'>Author:</div>
                  <div class='col-md-2' style='font-size: 24px;'>{{book.2}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-2' style='font-size: 24px;'>Genre:</div>
                  <div class='col-md-2' style='font-size: 24px;'>{{book.3}}</div>
                </div>
                <div class='row'>
                  <div class='col-md-2' style='font-size: 24px;'>Quantity:</div>
                  <div class='col-md-2' style='font-size: 24px;'>{{book.4}}</div>
                </div>
              </div>

            {% if book.4 > 0 %}
              <div class='row mt-3'>
                  <div class='col-md-2' style='font-size: 24px;'> <a href="{% url 'borrow:borrow' book.0 %}" class="btn btn-primary">Borrow</a></div>

              </div>
            {% else %}
            <div class='row mt-3'>
                <div class="col md-3">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Reserve
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Reserve Date</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                                    <form action="{% url 'reservebook:reservebook' book.0 %}" method="POST">
                                        {% csrf_token %}

                                            <input type="date" name="reservedate" aria-label="Input Reserve Date" class="form-control">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}






            {% endfor %}
        </div>
      </div>
  </div>



</div>
{% endblock %}