{% extends "base.html" %}

{% block title %}Return Books{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    Borrowed Books
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Borrow Id</th>
            <th>Book Title</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
          </tr>
        </thead>
          {% for b in borrowed_books %}
            <tr>
              <td>{{ b.0 }}</td>
              <td>{{ b.1 }}</td>
              <td>{{ b.2 }}</td>
              <td>{{ b.3 }}</td>
              <td>
                  <form id="returnForm" action="{% url 'returnbook:returnbook' username %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="borrow_id" value="{{ b.0 }}">
                    <button type="submit" class="btn btn-outline-primary">Return Book</button>
                  </form>
              </td>




            </tr>
          {% endfor %}
      </table>
    </div>

        <p>{{ msg }}</p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Returned Books
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Return Id</th>
            <th>Book Title</th>
            <th>Borrow Date</th>
            <th>Returned Date</th>
            <th>isOverDue</th>
          </tr>
        </thead>
          {% for returned_books in returned_books %}
            <tr>
              <td>{{ returned_books.0 }}</td>
              <td>{{ returned_books.1 }}</td>
              <td>{{ returned_books.2 }}</td>
              <td>{{ returned_books.3 }}</td>
              <td>{{ returned_books.4 }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>

  </div>
</div>
</div>
{% endblock %}