{% extends "base.html" %}

{% block title %}Return Books{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    Borrowed Books
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Borrow Id</th>
            <th>Book Title</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
          </tr>
        </thead>
          {% for borrowed_book in borrowed_books %}
            <tr>
              <td>{{ borrowed_book.0 }}</td>
              <td>{{ borrowed_book.1 }}</td>
              <td>{{ borrowed_book.2 }}</td>
              <td>{{ borrowed_book.3 }}</td>
              <td>
                  <a href="{% url 'returnbook:add' borrowed_book.0 %}" class="btn btn-outline-primary">Return Book</a>
              </td>
            </tr>
          {% endfor %}
      </table>
    </div>

      <!--form method="post">
        {% csrf_token %}
        <label for="borrow-id">Borrow ID:</label>
        <input type="text" id="borrow-id" name="borrow_id"><br><br>
        <label for="condition">Condition:</label>
        <input type="text" id="condition" name="condition"><br><br>
        <button class="btn btn-outline-primary btn-sm" style='width:100px'>Return Book</button>
      </form-->
        <p>{{ msg }}</p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Returned Books
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th>Return Id</th>
            <th>Issued To</th>
            <th>Book Title</th>
            <th>Borrow Date</th>
            <th>Returned Date</th>
            <th>Condition</th>
            <th>isOverDue</th>
          </tr>
        </thead>
          {% for returned_books in returned_books %}
            <tr>
              <td>{{ returned_books.0 }}</td>
              <td>{{ returned_books.1 }}</td>
              <td>{{ returned_books.2 }}</td>
              <td>{{ returned_books.3 }}</td>
              <td>{{ returned_books.4 }}</td>
              <td>{{ returned_books.5 }}</td>
              <td>{{ returned_books.6 }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>

  </div>
</div>
</div>
{% endblock %}